body, html
{
	background: black;
	font-family: 'Open Sans', sans-serif;
	color: white;
	overflow-x: hidden;
}

/* DISCLAIMER */
.disclaimer {
	display: none;
}

/*//////////////////////////////////////////////////////////////////// NAVBAR */
.navbar {
	color: white!important;
	width: 100%;
	z-index: 100;
}

.navbar-toggler {
	border: none;
}

.nav-item {
	color: white!important;
	/*padding: 10px 30px!important;*/
	/*border-radius: 25px;*/
	transition: .3s ease-out;
	border-bottom: 1px solid transparent;
}

/*.nav-item:hover {
	border-bottom: 1px solid white;
	color: black!important;
}*/

.nav-link {
	margin: 0 auto;
}

.logo-mobile {
	display: none;
}

/*///////////////////////////////////////////////////////////////////// JUMBOTRON */
.jumbotron {
	padding: 0 1.5em;
	background: transparent;
}

.jumbotron .typedH1 {
	display: none;
}

.jumbotron .btn-sm {
	margin-top: -15px;
}

.j-span {
	font-size: 26px;
	padding: 0;
	display: block;
}

.j-span p {
	font-size: 14px;
}

img.img-jumbotron{
	display: block;
	width: 200px;
	margin: 0 auto;
}

.j-span .btn {
	display: none!important;
}

.info {
	display: none;
}

.social.col-md-6 {
	margin-bottom: 30px;
	padding: 0!important;
}

.social .col {
    padding: 0;
}

.social a {
	color: white;
	font-size: 12px;
	margin-right: 10px;
}

.social a:hover {
	color: grey;
}

/*//////////////////////////////////////////////////////////////////////// CARD */
.quote {
	margin-top: 75px;
	background: whitesmoke;
	color: black;
	padding: 20px 0;
}

.quote span {
	margin: 0 auto;
	font-weight: bold!important;
}

/*/////////////////////////////////////////////////////////////////////// CONTENT */
.content {
    margin: 100px auto 0;
}

.content p {
	font-size: 14px;
}

h3.ui-design {
	font-size: 29px;
	font-weight: bold;
	color: white;
	text-align: left;
}

img.img-content {
    width: 420px;
    margin: 10px auto;
    border: 3px solid #14abbd;
    border-radius: 12px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/*/////////////////////////////////////////////////////////////////////// GALLERY */
.gallery {
	margin-top: 50px;
}

.gallery h3.ui-design {
	margin: 0 15px 20px;
}

.gallery-body {
	background: whitesmoke;
	/*margin-bottom: 100px;*/
}

.gallery-body p {
	color: black;
	margin-bottom: 30px;
	font-size: 12px;
}

.card-gallery img {
	width: 350px;
	margin: 30px auto;
	display: flex;
	align-items: center;
	border-radius: 5px;
}

.desc {
	margin-top: -15px!important;
}

.desc span {
	color: black;
}

.desc a {
	font-size: 12px;
}

/*//////////////////////////////////////////////////////////////////////// ABOUT */
.about {
	display: none;
}

.about-body {
	display: none;
}

.about-body p {
	margin: 0;
}

#toTop {
	/*width: 70%;*/
}

/*//////////////////////////////////////////////////////////////////////// FOOTER */
.footer {
    background: #343a40;
    color: white;
    padding: 10px 20px 10px;
    margin: 0!important;
}

.footer-header {
    font-size: 19px;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-body a {
	color: white;
}

p.footer-body {
    margin: 10px 0;
    font-size: 14px;
}

.footer img {
	width: 100px;
}

.copyright {
    background: #212529;
    color: grey;
    padding: 10px 0;
}

.copyright p {
    margin: 0;
    font-size: 12px;
}

.copyright a {
	color: cyan;
}


/* PINDAHAN */
/* PINDAHAN */
/* PINDAHAN */
/* PINDAHAN */
/* PINDAHAN */
/* PINDAHAN */
/* PINDAHAN */


@media (min-width: 576px){

	a:hover {
		text-decoration: none;
	}

	.disclaimer {
		/*display: block;*/
	}

	.mobile {
		display: none;
	}

	.navbar {
		position: relative;
		z-index: 99;
		background: transparent;
		margin: 20px 0;
		text-transform: uppercase;
	}

	.navbarkyu {
		display: none;
	}

	.nav-item {
		display: none;
	}

	.nav-link {
		margin: 0 50px;
	}

	.logo-mobile {
		display: block;
		margin: 0 2em;
	}

	.logo-mobile img {
		width: 4em;
	}

	/*///////////////////////////////////////////// JUMBOTRON */
	.jumbotron {
		/*display: none;*/
		height: 100vh!important;
		text-align: center;
		background: url(images/Header.jpg);
		background-size: cover;
		margin-top: -140px;
		margin-bottom: 0;
	}

	.jumbotron .typedH1 {
		display: block;
	}

	.jumbotron .social {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.jumbotron .social a {
		font-size: 1.2rem;
	}

	.jumbotron .img-jumbotron {
		display: none;
	}

	.jumbotron .j-span {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
	}

	.jumbotron .j-span p {
		font-weight: bold;
		margin: 0;
	}

	.jumbotron .j-span span {
		margin: 0;
		font-size: 4rem;
	}

	.jumbotron .j-span h1 {
		margin: 0;
		font-size: 4rem;
	}

	.jumbotron .j-span span.type {
		color: darkred;
	}

	.jumbotron .btn-sm {
		display: none;
	}

	/*//////////////////////////////////////////// SOCIAL */
	.social {
		display: none;
	}

	/*///////////////////////////////////////////// CARD */
	.card-arrival {
		display: none;
	}

	.quote {
		margin: 0;
		/*display: none;*/
	}

	.quote span {
		font-weight: bold!important;

	}

	/*//////////////////////////////////////////// CONTENT */
	.content {
		display: none;
	}

	/*///////////////////////////////////////////// GALLERY */
	.gallery {
		display: none;
	}

	.gallery-body {
		display: none;
	}

	/*///////////////////////////////////////////////// ABOUT*/
	.about {
		display: none;
	}

	.about-body {
		display: none;
	}

	/*/////////////////////////////////////////////// FOOTER */
	.footer {
		display: none;
	}

	.copyright {
	    background: #212529;
	    color: grey;
	    padding: 10px 0;
	}

	.copyright p {
	    margin: 0;
	}

}

.modal {
	color: black;
}